nav{
    /* background-color: black; */
}

body, html{
    width: 100%;
}

nav{
    /* background-color: pink; */
    width: 100%;
    justify-content: space-between;
    /* padding: 0 37px; */
}

nav .nav-logo{
    margin-left: 20%;
}

nav .login{
    width: 30%;
    margin-right: 7%;
}

nav .location {
    display: none;
}

nav .location .search-bar-two i{
    display: none;
}

nav .location .search-bar-two input{
    display: none;
}

body main{
    /* background-image: url("assets/food.jpg"); */
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    /* border: 2px solid blue; */
    /* padding-top: 12px; */
    padding: 0;
}

main .address{
    background-color: pink;

}

main .food-image{
    /* display: none; */
    height: 35vh;
    width: 35vh;
    margin-top: 25px;
}

main .food-image img{
    /* display: none; */
    margin-top: 0;
    padding-top: 0;
}

main .container{
    display: flex;
    /* border: 2px solid white; */
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 30%;
    /* border: 2px solid yellow; */
    margin-top: 12px;
}

main .address{
    height: 80%;
    width: 50%;
    /* border: 2px solid black; */
    background-color: white;

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin-top: 0;

    padding: 10px 15px;
}

main .address .box1 .inside-box{
    height: 60%;
    width: 35%;
    /* border: 2px solid red; */
    margin-left: 25px;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

main .address .box1 .delivery{
    background-color: rgb(244, 205, 186);
    color: rgb(255, 85, 0);
    margin-left: 0;

    padding: 20px 10px;
}
main .address .box1 .pickup{
    color: black;
    padding-left: 10px;

    border: 1.5px solid #999;
    border-bottom: .5px solid #999;

    padding: 20px 10px;
}

main .container .heading{
    /* border: 2px solid green; */
    width: 45%;
    margin-top: 12px;
    position: relative;
    bottom: 20px;
}

main h1{
    color: white;
    font-size: 2em;
}

main h2{
    font-size: 1.2rem;
}

main .location #btn{
    font-size: 0.85rem;
    /* padding: 0 12px; */
    /* font-weight: lighter; */
}

main .container{
    height: 30%;
}

main .address .box1{
    display: none;
}

main .address hr{
    display: none;
}

main .address .location{
    flex-direction: column;
    justify-content: center;
}
main .address .location #btn{
    width: 60%;
    /* background-color: blue; */
    padding: 8px 12px;
    font-size: .8rem;
    margin-top: 15px;
}

main .address .location input{
    font-size: .8rem;
    padding: 4px 12px;
    padding-left: 30px;
}

main .address .location .search-bar-one{
    width: 100%;
    /* border: 2px solid black; */
}


main .location #btn{
    width: 50%;
    padding: 20px 5px;
}

