nav{
    /* flex-direction: column; */
    justify-content: center;
}

nav .location span{
    /* visibility: hidden; */
    /* display: none; */
}

/* nav .location .search-bar-one{
    visibility: hidden;
    display: none;
} */

nav .location .search-bar-two i{
    /* visibility: hidden; */
    display: none;
}

nav .location .search-bar-two input{
    display: none;
}