nav{
    justify-content: space-between;
    padding: 0 97px;
}

nav .login{
    width: 15%;
}

nav .location {
    display: none;
}

nav .location .search-bar-two i{
    display: none;
}

nav .location .search-bar-two input{
    display: none;
}

body main{
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0;
}

main .food-image{
    height: 100vh;
    width: 52vh;
    margin-top: 10px;
}


main .container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

main .address{
    height: 80%;
    width: 50%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 0;
    padding: 10px 15px;
}

main .address .box1 .inside-box{
    height: 60%;
    width: 35%;
    margin-left: 25px;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

main .address .box1 .delivery{
    background-color: rgb(244, 205, 186);
    color: rgb(255, 85, 0);
    margin-left: 0;

    padding: 20px 10px;
}
main .address .box1 .pickup{
    color: black;
    padding-left: 10px;
    border: 1.5px solid #999;
    border-bottom: .5px solid #999;
    padding: 20px 10px;
}

main .container .heading{
    width: 45%;
    margin-top: 12px;
    position: relative;
    bottom: 20px;
}

main h1{
    color: white;
    font-size: 2.2em;
}

main h2{
    font-size: 1.3rem;
}

main .location #btn{
    font-size: 0.85rem;
}