
:root{
    --main-color: orange;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

i{
    color: var(--main-color);
    /* font-size: 1.8rem; */
}

i:hover{
    cursor: pointer;
}

input{
    display: inline-block;
}

body{
    height: 100%;
    width: 100%;
}

html{
    /* background-color: pink; */
}

nav{
    height: 12vh;
    width: 80%;
    border: 2px solid green;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav .nav-logo{
    height: 100%;
    width: 20%;
    border: 2px solid blue;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav .nav-logo #logo-text{
    display: flex;
    border: 2px solid black;
}

nav .nav-logo i{
    font-size: 1.8rem;
    color: var(--main-color);
}

nav .nav-logo span{
    font-weight: bolder;
    font-size: 2rem;
}

nav .nav-logo span:hover{
    cursor: pointer;
}

#one{
    
    color: rgb(255, 85, 0);
}
#two{
    color: var(--main-color);
}

/* Delivery Location */

nav .location{
    height: 12vh;
    width: 35%;
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.location span{
    border: 2px solid black;
    font-weight: bolder;
    font-size: .9rem;
}

.location .search-bar-one{
    position: relative;
    border: 2px solid red;
    height: 50%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location .search-bar-one i{
    font-size: 1.2rem;
    position: absolute;
    left: 10px;
}

.location .search-bar-one input{
    height: 100%;
    width: 100%;
    font-size: 1rem;
    padding-left: 35px;
}



/* Search-Food */

nav .search-food{
    width: 20%;
}

nav .search-food .search-bar-two{
    width: 100%;
}

nav .search-food .search-bar-two input{
    padding-left: 40px;
}


/* User Login */

nav .login{
    height: 50%;
    width: 8%;
    border: 2px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav .login span{
    font-weight: bolder;
    color: var(--main-color);
}


/* main */

body main{
    padding-top: 50px;
    height: 800px;
    width: 100%;
    border: 2px solid purple;
    background-color: var(--main-color);
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

main .food-image{
    height: 60%;
    width: 40%;
    /* border: 2px solid red; */
    border-radius: 50%;
}

main .food-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

main .text{
    height: 100%;
    width: 30%;
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main h1{
    color: white;
    font-size: 3em;
}

main h2{
    font-size: 1.8rem;
}

main .address{
    height: 60%;
    width: 100%;
    border: 2px solid black;
}

main .address .box1{
    width: 100%;
    height: 20%;
    border: 2px solid blue;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

main .address .box1 .inside-box{
    height: 60%;
    width: 35%;
    border: 2px solid red;
    margin-left: 25px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

main .address .box1 .delivery{
    background-color: rgb(244, 205, 186);
    color: rgb(255, 85, 0);
}

main .address .box1 .delivery span{
    padding-left: 10px;
}

main .address .box1 .inside-box i{
    color: rgb(255, 85, 0);
    font-size: 1.8rem;
    padding-left: 10px;
}
