
:root{
    --main-color: orange;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

i{
    color: var(--main-color);
    /* font-size: 1.8rem; */
}

i:hover{
    cursor: pointer;
}

input{
    display: inline-block;
}

/* body{
    border: 2px solid red;
    width: 80%;
    margin: auto;
} */

html{
    /* background-color: pink; */
}

nav{
    height: 12vh;
    width: 80%;
    border: 2px solid green;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav .nav-logo{
    height: 100%;
    width: 20%;
    border: 2px solid blue;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav .nav-logo #logo-text{
    display: flex;
    border: 2px solid black;
}

nav .nav-logo i{
    font-size: 1.8rem;
    color: var(--main-color);
}

nav .nav-logo span{
    font-weight: bolder;
    font-size: 2rem;
}

nav .nav-logo span:hover{
    cursor: pointer;
}

#one{
    
    color: rgb(255, 85, 0);
}
#two{
    color: var(--main-color);
}


/* Delivery Location */

nav .location{
    height: 100%;
    width: 33%;
    border: 2px solid purple;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav .location span{
    font-weight: bolder;
    font-size: .9rem;
}

nav .location .search-bar{
    height: 100%;
    width: 75%;
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .location .search-bar input{
    /* height: 100%; */
    width: 100%;
    padding: 8px 25px;
    font-size: 1rem;
}

nav .location i{
    font-size: 1.2rem;
    position: absolute;
    /* left: 0; */
    padding-left: 5px;
}


/* Search-Food */

nav .food-search-bar{
    border: 2px solid green;
    /* height: 100%; */
    width: 25%;
    display: flex;
    align-items: center;
}

nav .food-search-bar input{
    padding: 8px 25px;
}



/* main */

.container{
    height: 12vh;
    width: 30%;
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container span{
    border: 2px solid black;
    font-weight: bolder;
    font-size: .9rem;
}

.container .search-bar-one{
    position: relative;
    border: 2px solid red;
    height: 50%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .search-bar-one i{
    font-size: 1.2rem;
    position: absolute;
    left: 10px;
}

.container .search-bar-one input{
    height: 100%;
    width: 100%;
    font-size: 1rem;
    padding-left: 30px;
}